<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	 <module name="Header">
		<property name="header" value="////////////////////////////////////////////////////////////////////\n// [Nicola] [Carlesso] [1123257]\n////////////////////////////////////////////////////////////////////" />
		<property name="fileExtensions" value="java" />
	</module>
	<module name="FileLength"/> <!-- SLOC massima dei file -->
	<module name="FileTabCharacter"/> <!-- Non ci devono essere \tab oltre a quelli inseriti dall'editor -->
	<module name="TreeWalker">
		<module name="BooleanExpressionComplexity"/> <!-- Ogni espressione booleana non deve avere più di 3 condizioni -->
		<module name="CyclomaticComplexity"/> <!-- Non possono esserci più di 10 if, for, while... -->
		<module name="MethodLength"/> <!-- SCLC massima dei metodi -->
		<module name="EmptyCatchBlock"/> <!-- Guarda se ci sono catch vuoti -->
		<module name="AvoidStarImport"/> <!-- Gli include non devono possedere * -->
		<module name="IllegalImport"/> <!-- Evita l'importo di certi pacchetti -->
		<module name="NeedBraces"/> <!-- Permette statement senza parentesi grafe -->
		<module name="LineLength"/> <!-- Lunghezza massima di ogni riga -->
	</module>
</module>